.inactive {
    color: rgb(42, 41, 41);
    font-weight: bold;
    margin: 20px;

}

.active {

    color: red;
    text-decoration: underline red;
    font-weight: bolder;

}

.inactive:hover {
    color: red;
}

.active:hover {
    color: red;
}

.topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;

}

.editUser {

    font-size: 28px;
    border: none;
    outline: none;
    color: rgb(117, 211, 245);
    cursor: pointer;
}