.aboutus-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutus-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

.aboutus-container p {
    text-align: right;
    margin-bottom: 20px;
    color: #555;
    font-size: 1.2em;
}

.aboutus-container p:last-child {
    margin-bottom: 0;
}

.aboutus-container strong {
    color: #333;
}
