.aboutus-container {
    max-width: 800px;
    margin: 50px auto 20px; /* מרווח עליון מוגדל */
    padding: 30px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
    background-color: #2f2f2f; /* רקע אפור כהה */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: #f5f5f5; /* טקסט בהיר */
}


.aboutus-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFA726; /* כתום בולט */
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.aboutus-container p {
    text-align: right;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #E0E0E0; /* אפור בהיר לטקסט */
}

.aboutus-container strong {
    color: #FFA726; /* הדגשה בצבע כתום */
}

.aboutus-container p:last-child {
    margin-bottom: 0;
}

/* התאמה למסכים קטנים */
@media (max-width: 768px) {
    .aboutus-container {
        padding: 20px;
    }

    .aboutus-container h1 {
        font-size: 2em;
    }

    .aboutus-container p {
        font-size: 1em;
    }
}
