body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    /* color: #fff; */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 20px;
}

form input[type='text'],
form input[type='date'],
form input[type='time'],
form input[type='number'],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form label {
    margin-right: 10px;
}

form input[type='radio'] {
    margin-right: 5px;
}

form input[type='submit'],
form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

form input[type='submit']:hover,
form button:hover {
    background-color: #218838;
}

.error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

.status-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 4px;
}

.hidden {
    display: none;
}



.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.step.active {
    background-color: #4CAF50;
    color: white;
}

.line {
    width: 50px;
    height: 4px;
    background-color: #ddd;
}

.line.active {
    background-color: #4CAF50;
}
